@mixin left-side-panel-styles($theme) {
	.left-side-panel-container {
		font-size: 1.4rem;
		display: flex;
		flex-direction: column;

		& > .btn {
			&:is(:first-child) {
				margin-top: 0.5rem;
			}
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}

			@media only screen and (max-width: $bp-medium) {
				margin: 0;
			}
		}
	}
}
