<header class='header-container'>
  <mat-toolbar class='toolbar' color='primary'>
    <button
      mat-icon-button
      class='example-icon'
      aria-label='Example icon-button with menu icon'
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Portfolio</span>
    <span class='spacer'></span>
    <button
      *ngIf='!systemThemeSelected'
      mat-icon-button
      (click)='themingService.toggleTheme()'
    >
      <mat-icon>dark_mode</mat-icon>
    </button>
    <mat-slide-toggle
      [checked]='systemThemeSelected'
      (change)='themingService.toggleUseSystemTheme()'
    >
      Use System Theme
    </mat-slide-toggle>
  </mat-toolbar>
</header>
