@import './light-accent.scss';
@import './light-warn.scss';

$light-primary: (
	type: primary,
	50: #f3f3f3,
	100: #e1e1e1,
	200: #cecece,
	300: #bababa,
	400: #ababab,
	500: #9c9c9c,
	600: #949494,
	700: #8a8a8a,
	800: #808080,
	900: #6e6e6e,
	A100: #fdf0f0,
	A200: #f8c2c2,
	A400: #ff8888,
	A700: #ff6e6e,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
