@import './light-accent.scss';
@import './light-warn.scss';

$light-primary: (
	type: primary,
	50: #f6fbfd,
	100: #e8f5fb,
	200: #d8eef8,
	300: #c8e7f5,
	400: #bde2f3,
	500: #b1ddf1,
	600: #aad9ef,
	700: #a1d4ed,
	800: #98cfeb,
	900: #88c7e7,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ffffff,
	A700: #f6fcff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
