@mixin button-styles($theme) {
	.btn {
		display: inline-flex;
		padding: 0;
		outline: 0;
		border: 0;
		justify-content: center;
		align-items: center;

		&-primary {
			background-color: mat-color($primary);
		}
		&-accent {
			background-color: mat-color($accent);
		}
		&-warning {
			background-color: mat-color($warn);
		}

		&-header {
			height: 100%;
			padding: 1rem;
		}

		&-side-panel {
			width: 100%;
			padding: 1rem;
		}
	}
}
