@import "~@angular/material/theming";
@import "./light-palette.scss";
@import "./dark-palette.scss";
@import "./warn-palette.scss";

@include mat-core(mat-typography-config("Arial"));

// Light theme, mat-palette($palette-name, main, lighter, darker)
// 500, 100, 700 are default values for main, lighter and darker params
$light-primary: mat-palette($light, 500, 100, 700);
$light-accent: mat-palette($light, 200, 100, 700);
$light-warn: mat-palette($warn, 100, 100, 100);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: null,
    ),
  )
);

// Dark theme
$dark-primary: mat-palette($dark, 500, 100, 700);
$dark-accent: mat-palette($dark, 400, 200, 700);
$dark-warn: mat-palette($warn, 210, 210, 210);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// $my-app-primary: mat-palette($mat-blue-grey);
// $my-app-accent: mat-palette($mat-pink, 500, 900, A100);
// $my-app-warn: mat-palette($mat-deep-orange);
// $light-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// $alternate-primary: mat-palette($mat-light-blue);
// $alternate-accent: mat-palette($mat-yellow, 400);
// $dark-theme: mat-light-theme($alternate-primary, $alternate-accent);
