$warn: (
  type: warn,
  10: #ff6666,
  25: #ff3232,
  50: #fe0000,
  100: #e40000,
  200: #cb0000,
  210: #bb0000,
  225: #fd8503,
  250: #ff7809,
  300: #ef6c00,
  400: #d66000,
  420: #8ff600,
  425: #80dc00,
  450: #71c200,
  475: #62a900,
  480: #599a00,
  500: #538f00,
  600: #447600,
  625: #406e00,
  650: #365d00,
  660: #2d4e00,
  675: #274400,
  contrast: (
    25: $black-87-opacity,
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: white,
    225: $black-87-opacity,
    250: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    425: $black-87-opacity,
    450: $black-87-opacity,
    475: $black-87-opacity,
    500: white,
    600: white,
    650: $white-87-opacity,
    675: $white-87-opacity,
  ),
);
