$dark-accent: (
	50: #f0f2f5,
	100: #dadfe6,
	200: #c2cad6,
	300: #a9b5c5,
	400: #96a5b8,
	500: #8495ac,
	600: #7c8da5,
	700: #71829b,
	800: #677892,
	900: #546782,
	A100: #e9f2ff,
	A200: #b6d3ff,
	A400: #83b4ff,
	A700: #69a5ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
