@import './dark-accent.scss';
@import './dark-warn.scss';

$dark-primary: (
	type: primary,
	50: #e4e7ec,
	100: #bbc2d0,
	200: #8e9ab0,
	300: #617190,
	400: #3f5279,
	500: #1d3461,
	600: #1a2f59,
	700: #15274f,
	800: #112145,
	900: #0a1533,
	A100: #6e8cff,
	A200: #3b64ff,
	A400: #083cff,
	A700: #0032ed,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
