@import 'app/styles/globals.scss';
@import 'app/styles/theming/theme.scss';

@import 'app/styles/buttons.scss';
@import 'app/styles/font.scss';

@import 'app/components/root/root.component.scss';
@import 'app/components/header/header.component.scss';
@import 'app/components/left-side-panel/left-side-panel.component.scss';
@import 'app/components/main/main.component.scss';

$primary: null;
$accent: null;
$warn: null;

@mixin component-themes($theme) {
	$primary: map-get($theme, primary) !global;
	$accent: map-get($theme, accent) !global;
	$warn: map-get($theme, warn) !global;

	@include button-styles($theme);
	@include font-styles($theme);

	@include root-styles($theme);
	@include header-styles($theme);
	@include left-side-panel-styles($theme);
  @include main-styles($theme);
}

@include angular-material-theme($light-theme);

.light-theme {
	@include component-themes($light-theme);
}

.dark-theme {
	@include angular-material-color($dark-theme);

	@include component-themes($dark-theme);
}
