@import 'app/styles/theme.scss';

@import 'app/components/root/root.component.scss';

@mixin component-themes($theme) {
  $primary: map-get($theme, primary) !global;
  $accent: map-get($theme, accent) !global;
  $warn: map-get($theme, warn) !global;

  @include root-styles($theme);
}

.light-theme {
  @include angular-material-theme($light-theme);

  @include component-themes($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);

  @include component-themes($dark-theme);
}

body {
  margin: 0;
  font-family: Arial;
}
